.fret-div {
	border: solid 1px black;
	height: 15px;
	display: inline-block;
}

.g-string-div {
}

#drawing-area {
	width: 600px;
	height: 300px;
}

#fretboard {
	fill: brown;
	width: 500px;
	height: 100px;
}

.fret {
	stroke: orange;
	stroke-width: 2;
}

.string {
	stroke-width: 3;
	stroke: silver
}