#drawing-area {
	width: 900px;
	height: 320px;
}

#fretboard {
	fill: brown;
	width: 500px;
	height: 100px;
}

.fret {
	fill: orange;
	height:15px;
	width: 3px;
}

.string {
	fill: silver;
	height: 2px;
	pointer-events: none;
}

.fretboard-part {
	fill: brown;
	width: 500px;
	height: 16px;
}

.fretboard-part-dotted {
	fill: #b95e2c;
	width: 500px;
	height: 16px;
}

.fretboard-part:hover, .fretboard-part-dotted:hover {
	fill: #59afb9
}