.fret-div {
	border: solid 1px black;
	height: 15px;
	display: inline-block;
}

.g-string-div {
}

#drawing-area {
	width: 900px;
	height: 300px;
}

#fretboard {
	fill: brown;
	width: 500px;
	height: 100px;
}

.fret {
	fill: orange;
	height:15px;
	width: 3px;
}

.string {
	fill: silver;
	height: 2px;
}

.fretboard-part {
	fill: brown;
	width: 500px;
	height: 15px;
}

.fretboard-part-dotted {
	fill: #b95e2c;
	width: 500px;
	height: 15px;
}